*{

	font-family: work sans, sans-serif;
}

html{
	overflow-y: hidden;
}

body{
	margin: 0;
}


#base{
	background-color: white;
	height: 100vh;
}


#left{
	display: inline-block;
	height: 100%;
	/*background-color: #8062E0;*/
	background-color: #4c388e;
	width: 30%;
	overflow-y: scroll;
}

#left nav {

	height: 40px;
	background-color: #353535;

}

#right{
	display: inline-block;
	background-color: white;
	height: 100%;
	width: 70%;
	overflow-y: scroll;
	overflow-x: hidden;
}


.btn{
	background-color: #8062E0;
	color: beige;
	border: 2px solid #C0C0C0;
}

.btn:hover{
	color: white;
	border-color: white;
	cursor: pointer;
}

#TextZone{   
	height: 100%;
	background-color: white;
	display: flex;
/*	display: grid;
	align-content: center;
    justify-content: center;*/
}

#divText{
	width: 95%;
	height: 100%;
	resize: none;
	background-color: white;
	border: none;
	margin: 20px;

}

#txtU{
	width: 95%;
	height: 100%;
	resize: none;
	background-color: white;
	border: none;
	margin: 20px;

}
#txtU:focus{
	outline: none;
}
#txtU::placeholder {
	font-size: 31px;
    text-align: center;
    padding-top: 40vh;

}